body {
  font-family: Roboto;
  margin: auto;
}
.list01 {
  margin: auto;
  display: block;
}
h2 {
  font-size: 100px;
  margin: auto;
  text-align: center;
}
.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-left:20px;
  margin-bottom: 30px;
}
.input-text {
  height: 60px;
  border-radius: 5px;
  font-size: 30px;
  padding-left: 10px;
  border: 2px solid gray;
  align-items: stretch;
}
.input-date {
  height: 60px;
  border-radius: 5px;
  font-size: 30px;
  padding-left: 10px;
  border: 2px solid gray;
  align-items: center;
}
.add {
  width: 150px;
  height: 60px;
  border: 2px solid green;
  background-color: green;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  align-items: stretch;
}
.input-text03 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  margin-left: 20px;
  row-gap: 20px;  
}
.delete {
  width: 150px;
  height: 60px;
  border: 2px solid brown;
  background-color:brown ;
  color: antiquewhite;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;  
}

